
@page "/"


<PageTitle>Index</PageTitle>

<h1>PARCIAL 2  |  APLICADA I 1</h1>


Nombre:     Lisbeth Tejada 
Matrícula:  2020-0503.
Fecha:      Lunes 10 / Jul / 2023
Descripción:
Según las indicacaciones en el PDF del parcial: compra y venta de frutos secos, hacer;
Registro con su detalle (Guardar, Editar , Eliminar, Validar perfectamente)
Hacer Consulta que permita filtrar por cualquier campo además de la fecha.

<SurveyPrompt Title="How is Blazor working for you?" />
