
@page "/"


<PageTitle>Index</PageTitle>

<h1>PARCIAL 2  |  APLICADA I </h1>


Nombre:     Lisbeth Tejada 
Matrícula:  2020-0503.
Fecha:      Lunes 10 / Jul / 2023
Descripción:
Según las indicacaciones en el PDF del parcial: compra y venta de frutos secos, hacer;
Registro con su detalle (Guardar, Editar , Eliminar, Validar perfectamente)
Hacer Consulta que permita filtrar por cualquier campo además de la fecha.

<h2>Imagen de frutos</h2>

@if (imageSource is not null)
{
    <p>
        <img src="@imageSource" />
    </p>
}
@for (var i = 1; i <= 3; i++)
{
    var imageId = i;
    <button @onclick="() => ShowImage(imageId)">
        Image @imageId
    </button>
}
@code {
    private string? imageSource;

    private void ShowImage(int id)
    {
        imageSource = $"images/image{id}.png";
    }
}

<SurveyPrompt Title="How is Blazor working for you?" />
